/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/******************************************
/* BASE STYLES
/*******************************************/
body {
  width: 100%;
  margin-top: 10px;
  padding: 0;
  color: #757575!important;
  font-size: 16px;
  line-height: 1.2em;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background: #EFEFEF;
}

header {
  margin-bottom: 40px;
}

/******************************************
/* LAYOUT
/*******************************************/

#container{
    width:100%;
}

#bg{
    position:absolute;
    width:200%;
    height:200%;
    top:-33.3333%;
    left:-33.3333%;
    background:url('../img/photos/IMG_4872.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(50px);
    overflow:hidden;
}

a:link,a:visited{
  color:#2196f3;
}

a:hover,a:active{
  color:#ffab40;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
img {
  width:240px;
  height:240px;
}

#sf-image-canvas{
  color: #f44336;
}

#sf-image-canvas{
    border: 1px solid #a1a3a3;
    border-radius: 120px;
    background-color:#FFFFFF;
    width:240px;
    height:240px;
    margin-left: 90px;
    margin-top: 20px;
    background-position: center center;
    background-size: cover;
    float:left;
}

#login-form {
  border-radius: 6px;
  height: 300px;
  margin: 20px auto 0;
  width: 300px;
}

#login-form h3 {
  text-align: center;
}

#login-form input{
  border: 1px solid #a1a3a3;
  width:200px;
  height:48px;
  padding: 10px;
  margin: 10px;
  font-size: 18px;
}

#signup-form {
  border-radius: 6px;
  height: 800px;
  margin: 20px auto 0;
  width: 500px;
  padding: 25px;
}

.image-upload > input
{
    display: none;
}


#login-info  input{
  border: 1px solid #a1a3a3;
  width:200px;
  height:48px;
  padding:10px;
  margin: 10px;
  font-size: 18px;
}

#text-info  input{
  border: 1px solid #a1a3a3;
  width:200px;
  height:48px;
  padding:10px;
  margin: 10px;
  font-size: 18px;
}

#sf-image-loader {
  border: none;
}

#sf-link {
  padding: 10px;
}


input.upload {
    font-size: 1em;
    line-height: 0em;
}

.form input:focus,.form input:active{
  outline: none;
}

#lf-submit {
  background-color: #f44336;
}

#sf-submit {
  background-color: #f44336;
  margin-left: 10px;
}

#message-btn {
  background-color: #f44336;
}

#logout {
  background-color: #f44336;
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px;
}

#searchfield {
  position: fixed;
  top: 0;
  left: 0;
}

.form h5{
  padding:10px;
}

#login-form{
    margin-top: 15%;
}

#signup-btn{
  color: #f44336;
  padding-left: 10px;
}



.message{
  position:relative;
  width: 320px;
  height: auto;
  background: transparent;
  top:10%;
  left:50%;
  margin-left:-180px;
  clear:both;
  padding-bottom: 4px;
  margin-top: 60px;
  margin-bottom: 60px;
  font-size:64px;
  text-align:center;
}

.card {
  margin: 20px;
  padding: 30px;
  float: left;
}

#error {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background: #fde073;
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}

.cssanimations.csstransforms #error {
    -webkit-transform: translateY(-50px);
    -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
    -moz-transform:    translateY(-50px);
    -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
}

.cssanimations.csstransforms #close {
  display: none;
}
