
nav  {
  position: absolute;
  left: 0;
  z-index: 0;
  list-style: none;
  background: #545454;
  width: 320px;
  height: 100%;
}


nav li {
  color: #d3d3d3;

}

nav a {
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  border-bottom: 1px solid #d3d3d3;
}

.hamburger {
  background: url('../../img/hamburger.svg');
  background-size: 32px 32px;
  background-position: 4px 4px;
  position: absolute;
  height: 44px;
  width: 44px;
  left: 10px;
  top: 10px;
  z-index: 2;
  cursor: pointer;
}
